<div class="row">
    <div class="col-md-12">
  
      <div>

        <div class="file-upload">
          <button mat-mini-fab color="secondary" class="btn btn-success"  routerLink="importation">
            IMPORTATION EN EXCEL
          </button>
          <button mat-mini-fab color="primary" class="upload-btn btn btn-primary" (click)="exportexcel()">
            Exportation en Excel
          </button>
  
          <button mat-mini-fab color="secondary" class="upload-btn btn btn-secondary" data-toggle="modal"
            data-target="#exampleModal">
            AJOUTER UN IMMOBILIER
          </button>

      

        </div>
  
      </div>
  
  
  
  
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Liste Des Meubles</h5>
          <!-- <p class="card-category">Handcrafted by our friends from
            <a href="https://nucleoapp.com/?ref=1712">NucleoApp</a>
          </p> -->
        </div>
        <div class="card-body">
          <div class="row">
            <div  class="col-md-12">
  
              <ngx-table [configuration]="configuration" [data]="data" [columns]="columns"></ngx-table>
  
              <ng-template #n_inventaireTp let-row let-rowIndex="rowIndex">
                <div class="" *ngIf="editRow !== rowIndex">{{ row.n_inventaire }}</div>
                <div *ngIf="editRow === rowIndex">
                  <input type="text" #n_inventaire class="form-label" [value]="row.n_inventaire" />
                </div>
              </ng-template>

              <ng-template #code_guichetTp let-row let-rowIndex="rowIndex">
                <div class="" *ngIf="editRow !== rowIndex">{{ row.code_guichet }}</div>
                <div *ngIf="editRow === rowIndex">
                  <input type="text" #code_guichet class="form-label" [value]="row.code_guichet" />
                </div>
              </ng-template>
  
              <ng-template #departementTp let-row let-rowIndex="rowIndex">
                <div class="" *ngIf="editRow !== rowIndex">{{ row.departement }}</div>
                <div *ngIf="editRow === rowIndex">
                  <input type="text" #departement class="form-label" [value]="row.departement" />
                </div>
              </ng-template>
  
              <ng-template #directionTp let-row let-rowIndex="rowIndex">
                <div class="" *ngIf="editRow !== rowIndex">{{ row.direction }}</div>
                <div *ngIf="editRow === rowIndex">
                  <input type="text" #direction class="form-label" [value]="row.direction" />
                </div>
              </ng-template>
  
              <ng-template #familleTp let-row let-rowIndex="rowIndex">
                <div class="" *ngIf="editRow !== rowIndex">{{ row.famille }}</div>
                <div *ngIf="editRow === rowIndex">
                  <input type="text" #famille class="form-label" [value]="row.famille" />
                </div>
              </ng-template>
  
              <ng-template #libelle_familleTp let-row let-rowIndex="rowIndex">
                <div class="" *ngIf="editRow !== rowIndex">{{ row.libelle_famille }}</div>
                <div *ngIf="editRow === rowIndex">
                  <input type="text" #libelle_famille class="form-label" [value]="row.libelle_famille" />
                </div>
              </ng-template>
  
              <ng-template #sous_libelle_familleTp let-row let-rowIndex="rowIndex">
                <div class="" *ngIf="editRow !== rowIndex">{{ row.sous_libelle_famille }}</div>
                <div *ngIf="editRow === rowIndex">
                  <input type="text" #sous_libelle_famille class="form-label" [value]="row.sous_libelle_famille" />
                </div>
              </ng-template>
  
              <ng-template #niveauTp let-row let-rowIndex="rowIndex">
                <div class="" *ngIf="editRow !== rowIndex">{{ row.niveau }}</div>
                <div *ngIf="editRow === rowIndex">
                  <input type="text" #niveau class="form-label" [value]="row.niveau" />
                </div>
              </ng-template>
  
              <ng-template #serviceTp let-row let-rowIndex="rowIndex">
                <div class="" *ngIf="editRow !== rowIndex">{{ row.service }}</div>
                <div *ngIf="editRow === rowIndex">
                  <input type="text" #service class="form-label" [value]="row.service" />
                </div>
              </ng-template>
  
              <ng-template #sous_familleTp let-row let-rowIndex="rowIndex">
                <div class="" *ngIf="editRow !== rowIndex">{{ row.sous_famille }}</div>
                <div *ngIf="editRow === rowIndex">
                  <input type="text" #sous_famille class="form-label" [value]="row.sous_famille" />
                </div>
              </ng-template>
  
              <ng-template #code_localisationTp let-row let-rowIndex="rowIndex">
                <div class="" *ngIf="editRow !== rowIndex">{{ row.codeLocalisation }}</div>
                <div *ngIf="editRow === rowIndex">
                  <input type="text" #code_localisation class="form-label" [value]="row.codeLocalisation" />
                </div>
              </ng-template>
  
              <ng-template #libelle_agenceTp let-row let-rowIndex="rowIndex">
                <div class="" *ngIf="editRow !== rowIndex">{{ row.libelle_agence }}</div>
                <div *ngIf="editRow === rowIndex">
                  <input type="text" #libelle_agence class="form-label" [value]="row.libelle_agence" />
                </div>
              </ng-template>
  
              <ng-template #libelle_localisationTp let-row let-rowIndex="rowIndex">
                <div class="" *ngIf="editRow !== rowIndex">{{ row.libelle_localisation }}</div>
                <div *ngIf="editRow === rowIndex">
                  <input type="text" #libelle_localisation class="form-label" [value]="row.libelle_localisation" />
                </div>
              </ng-template>
  
              <ng-template #actionTpl let-row let-rowIndex="rowIndex">
                <div *ngIf="editRow !== rowIndex" class="btn btn-primary btn-circle" (click)="edit(rowIndex)">
                  <span class="nc-icon nc-ruler-pencil "></span>
                </div>
                <div *ngIf="editRow === rowIndex" class="btn btn-secondary btn-circle" (click)="update()">
                  <span class="nc-icon nc-check-2"></span>
                  
                </div>
              </ng-template>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">

    <div class="row">
      <div class="col-md-12">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title modal-title" id="exampleModalLabel" style="display: inline;">
              Ajouter un immobilier
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="create()">
              
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>N° inventaire</label>
                    <input type="text" class="form-control" formControlName="n_inventaire" placeholder="N° inventaire">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Code Guichet</label>
                    <input type="text" class="form-control" formControlName="code_guichet" placeholder="Code Guichet">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Direction</label>
                    <input type="text" class="form-control" formControlName="direction" placeholder="Direction">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Département</label>
                    <input type="text" class="form-control" formControlName="departement" placeholder="Département">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Service</label>
                    <input type="text" class="form-control" formControlName="service" placeholder="Service">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Libelle Famille</label>
                    <input type="text" class="form-control" formControlName="libelle_famille" placeholder="Libelle Famille">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Libelle Famille</label>
                    <input type="text" class="form-control" formControlName="sous_libelle_famille" placeholder="Libelle Famille">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Famille</label>
                    <input type="text" class="form-control" formControlName="famille" placeholder="Famille">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Sous Famille</label>
                    <input type="text" class="form-control" formControlName="sous_famille" placeholder="Sous Famille">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Libellé Agence</label>
                    <input type="text" class="form-control" formControlName="libelle_agence" placeholder="Libellé Agence">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Libellé Localisation</label>
                    <input type="text" class="form-control" formControlName="libelle_localisation" placeholder="Libellé Localisation">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Code Localisation</label>
                    <input type="text" class="form-control" formControlName="codeLocalisation" placeholder="Code Localisation">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Niveau</label>
                    <input type="text" class="form-control" formControlName="niveau" placeholder="Niveau">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="update ml-auto mr-auto">
                  <button type="submit" class="btn btn-primary btn-round">
                    <span *ngIf="loader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    CREER
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
</div>