<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="card card-upgrade">
      <div class="card-header text-center">
        <h4 class="card-title">Téléchargement</h4>
          <!-- <p class="card-category">Are you looking for more components? Please check our Premium Version of Paper Dashboard PRO.</p> -->
      </div>
      <div class="card-body">
        <div class="text-center">
          <a target="_blank" href="https://gest-imm.ci/app_mobile/gest-imm-mobile.apk" class="btn btn-round btn-primary">
            Télécharger l'application mobile
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
