<div class="row">
  <div class="col-md-12">



    <div>

      <div>
        <form [formGroup]="form" (ngSubmit)="sendData()">

            <input type="file" formControlName="file_excel" accept=".xlsx" class="file-input" (change)="getFile($event)"
            #fileUpload>

          <button mat-mini-fab color="primary" type="button" class="upload-btn btn btn-primary" (click)="fileUpload.click()">
            Importation
          </button>



          <button type="submit" class="btn btn-secondary" [disabled]="data.length == 0">
            <span *ngIf="loader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            ENREGISTRER LE FICHIER IMPORTER
          </button>

        </form>

      </div>


    </div>



    <div class="card">
      <div class="card-header">
        <h5 class="card-title">
          Liste des immobilisations
        </h5>
      </div>
      <div class="card-body">
        <div class="row">

          <table-custom [data]="data" (updateData)="eventLister($event)"></table-custom>


        </div>
      </div>
    </div>
  </div>
</div>
